.nav-bar {
  display: flex;
  & > * {
    flex: 1;
  }
}
.input-box {
  display: flex;
}
@media (max-width: 767px) {
  .popup {
    max-width: 100vw;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  .input-box {
    flex-direction: column;
  }
  .info-group,
  .input-group,
  .button-group,
  .modified-log {
    display: flex;
    width: 100%;
    overflow-y: visible;
    & > * {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .modified-log.modified-log > div {
    margin-top: 8px;
    border-right: none;
  } 
}
